@using PagedList;
@using PagedList.Mvc;
@using Lcps.Division.Directory.Repository;


@model PagedList<DirectoryMember>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Manage/Views/Shared/_Layout.cshtml";
    ViewBag.Page = Request["page"];
}

<style>
    .dt-table tr th, .dt-table tr td
    {
        white-space: nowrap;
    }
</style>

<h3>LCPS Directory</h3>

Total: @ViewBag.Total Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@if (@ViewBag.Filter != null)
{
    long f = (long)ViewBag.Filter;
    <div class="row container"><strong>Filter:</strong>  @string.Join(" and ", MembershipScopeRepository.GetApplicableCaptions(f))</div>
}

@Html.PagedListPager(Model,
  page => Url.Action("Index", new { page, @filter = @ViewBag.Filter, @theme = ViewBag.Theme }))

<div class="table-responsive">
    <table class="table table-hover table-striped table-condensed dt-table">
        <tr>
            <th></th>
            <th>
               <i class="fa fa-key"></i> @Html.DisplayNameFor(model => model.First().InternalId)
            </th>
            <th>
                <i class="fa fa-user"></i> @Html.DisplayNameFor(model => model.First().SortName)
            </th>
            <th>
                <i class="fa fa-envelope-o"></i> @Html.DisplayNameFor(model => model.First().Email)
            </th>
            <th>
                <i class="fa fa-lock"></i>  @Html.DisplayNameFor(model => model.First().UserName)
            </th>
            <th>
                <i class="fa fa-calendar"></i> @Html.DisplayNameFor(model => model.First().DOB)
            </th>
            <th>
                <i class="fa fa-female"></i> @Html.DisplayNameFor(model => model.First().Gender)
            </th>
            <th>
                <i class="fa fa-cubes"></i> @Html.DisplayNameFor(model => model.First().MembershipScope)
            </th>

        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a href="@Url.Action("Edit", "DirectoryMembers", new { area = "Manage", id = item.Id })" class="btn btn-link btn-sm"><i class="fa fa-pencil"></i> Edit</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InternalId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SortName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DOB)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gender)
                </td>
                <td>
                    @item.GetMembershipScopeCaption()
                </td>
            </tr>
        }

    </table>
</div>
