@model Lcps.Division.Directory.Repository.MembershipScope

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/DirectorySetup/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>MembershipScope</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BinaryValue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BinaryValue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Caption)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Caption)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ScopeQualifier)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ScopeQualifier)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MembershipScopeId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
